@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url('data:image/svg+xml,%3Csvg width="1440" height="1025" viewBox="0 0 1440 1025" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cg opacity="0.4" clip-path="url(%23clip0_1_263)"%3E%3Crect width="1443" height="1025" fill="%23FBC303"/%3E%3Cpath opacity="0.6" d="M1453 217V734.786C1433.36 738.096 1413.26 743.297 1391.75 753.227C1320.68 784.437 1275.33 861.986 1240.73 905.49C1204.72 948.993 1147.21 970.272 1110.74 965.07C1002.27 949.466 931.201 992.497 890.056 1036H555.749C514.604 992.497 443.067 949.466 335.06 965.07C298.591 970.272 241.081 948.52 205.078 905.49C170.479 861.986 125.125 784.437 54.0559 753.227C31.613 742.825 10.5727 737.623 -10 734.313V217H1453Z" fill="white"/%3E%3Cpath d="M1446.57 -38V580.953C1427 584.91 1406.86 591.128 1385.61 602.998C1315.15 640.305 1270.41 733.007 1235.73 785.01C1199.94 837.013 1143.46 862.45 1107.1 856.232C999.728 837.578 832.5 926.556 832.5 1035.56H625C625 947.056 446.068 837.578 338.691 856.232C302.899 862.45 245.855 836.448 210.063 785.01C175.949 733.007 130.649 640.305 60.1831 602.998C37.813 590.562 17.1206 584.345 -3.57178 580.388V-38H1446.57Z" fill="%23FEF1CF"/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id="clip0_1_263"%3E%3Crect width="1443" height="1025" fill="white"/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 56px;
}

header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.body-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  height: 100vh;
  width: 960px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}


.body-container h1 {
  font-family: 'Euclid Circular B', sans-serif;
  font-weight: 500;
  font-size: 56px;
  line-height: 76.16px;
  letter-spacing: -0.1px;
  text-align: center;
}

.streak-box {
  height: 112px;
  width: 423px;
  background: white;
  padding: 15px 25px;
  border-radius: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.day {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.9em;
  color: #aaa;
  padding: 0 12px 7px 12px;
  border-bottom: 1px;
  border-bottom: 2px solid #ccc;
}

.day.today {
  border-bottom: 1px;
  border-bottom: 2px solid #6442EF;
}

.circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #e6e6e6;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}

.checked {
  background-color: #c9b5f9;
}

.active {
  background-color: #6b47dc;
  color: white;
}

.day.completed .circle,
.day.saved .circle
{
  background-color: #c9b5f9;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13' height='10' viewBox='0 0 13 10' fill='none'%3E%3Cpath d='M11.6428 1.5L5.26782 8L2.14282 4.81818' stroke='white' stroke-width='2.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}
.day.incomplete .circle {
  background-color: #e6e6e6;
}
.day.at_risk .circle {
  background-color: red;
}